<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beemo.moodsupport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MoodSupport"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BreathingStart"></activity>
        <activity android:name=".BreathingActivity" />
        <activity android:name=".SelfHealingActivity" />
        <activity android:name=".MainProfileActivity" />
        <activity android:name=".Recievesupport3" />
        <activity android:name=".RecieveSupport2" />
        <activity android:name=".Recievesupport" />
        <receiver
            android:name=".NotificationReciever"
            android:enabled="true"
            android:exported="false" >
        </receiver>
        <service
            android:name=".MyNewIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <activity android:name=".addSupport2" />
        <activity android:name=".MoodGraph" />
        <activity android:name=".AddSupport" />
        <activity android:name=".MoodActivity" />
        <activity android:name=".OCEANActivity" />
        <activity android:name=".DASSActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>